---
title: Projects
---

section.big-top-space

  .long-content

    markdown:

      * [Python Code Generation Transformer](https://github.com/htoyll8/code-generation-transformer) (2023).
        <br>
        A transformer-based langauage model that generates Python code.

      * [Reverse Sketching](https://kilthub.cmu.edu/articles/conference_contribution/Reverse_Sketching/22277320) (2021).
        <br>
        An algorithm that uses anti-unification to generate sketches, or partially-complete programs with 'holes,' that reveal the syntactic structure of multiple solutions generated through program synthesis, thereby enhancing user understanding of the solution space.

      * [Bottom-up Enumerative Program Synthesis](https://github.com/htoyll8/bottom-up-enumerative-synthesis) (2020).
        <br>
        A bottom-up enumerative program synthesis algorithm that uses equivalence graphs (e-graphs) to store observationally equivalent programs.
